ledge-container/src/main/java/org/objectledge/logging/LoggingConfigurator.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- Authors: Chris Taylor, Ceki Gulcu. -->
<!-- Version: 1.2 -->
<!-- Generated from log4j.dtd by Trang schema converter -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" 
	 datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         xmlns:log4j="http://jakarta.apache.org/log4j/">
  <define name="configuration">
    <!--
      A configuration element consists of optional renderer
      elements,appender elements, categories and an optional root
      element.
    -->
    <element name="log4j:configuration">
      <ref name="attlist.configuration"/>
      <zeroOrMore>
        <ref name="renderer"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="appender"/>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <ref name="category"/>
          <ref name="logger"/>
        </choice>
      </zeroOrMore>
      <optional>
        <ref name="root"/>
      </optional>
      <optional>
        <ref name="categoryFactory"/>
      </optional>
    </element>
  </define>
  <!-- The "threshold" attribute takes a level value such that all -->
  <!-- logging statements with a level equal or below this value are -->
  <!-- disabled. -->
  <!-- Setting the "debug" enable the printing of internal log4j logging -->
  <!-- statements. -->
  <!-- By default, debug attribute is "null", meaning that we not do touch -->
  <!-- internal log4j logging settings. The "null" value for the threshold -->
  <!-- attribute can be misleading. The threshold field of a repository -->
  <!-- cannot be set to null. The "null" value for the threshold attribute -->
  <!-- simply means don't touch the threshold field, the threshold field -->
  <!-- keeps its old value. -->
  <define name="attlist.configuration" combine="interleave">
    <optional>
      <attribute name="threshold" a:defaultValue="null">
        <choice>
          <value>all</value>
          <value>debug</value>
          <value>info</value>
          <value>warn</value>
          <value>error</value>
          <value>fatal</value>
          <value>off</value>
          <value>null</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="debug" a:defaultValue="null">
        <choice>
          <value>true</value>
          <value>false</value>
          <value>null</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- renderer elements allow the user to customize the conversion of -->
  <!-- message objects to String. -->
  <define name="renderer">
    <element name="renderer">
      <ref name="attlist.renderer"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.renderer" combine="interleave">
    <attribute name="renderedClass"/>
    <attribute name="renderingClass"/>
  </define>
  <!-- Appenders must have a name and a class. -->
  <!-- Appenders may contain an error handler, a layout, optional parameters -->
  <!-- and filters. They may also reference (or include) other appenders. -->
  <define name="appender">
    <element name="appender">
      <ref name="attlist.appender"/>
      <optional>
        <ref name="errorHandler"/>
      </optional>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
      <optional>
        <ref name="layout"/>
      </optional>
      <zeroOrMore>
        <ref name="filter"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="appender-ref"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.appender" combine="interleave">
    <attribute name="name">
      <data type="ID"/>
    </attribute>
    <attribute name="class"/>
  </define>
  <define name="layout">
    <element name="layout">
      <ref name="attlist.layout"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.layout" combine="interleave">
    <attribute name="class"/>
  </define>
  <define name="filter">
    <element name="filter">
      <ref name="attlist.filter"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.filter" combine="interleave">
    <attribute name="class"/>
  </define>
  <!-- ErrorHandlers can be of any class. They can admit any number of -->
  <!-- parameters. -->
  <define name="errorHandler">
    <element name="errorHandler">
      <ref name="attlist.errorHandler"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
      <optional>
        <ref name="root-ref"/>
      </optional>
      <zeroOrMore>
        <ref name="logger-ref"/>
      </zeroOrMore>
      <optional>
        <ref name="appender-ref"/>
      </optional>
    </element>
  </define>
  <define name="attlist.errorHandler" combine="interleave">
    <attribute name="class"/>
  </define>
  <define name="root-ref">
    <element name="root-ref">
      <ref name="attlist.root-ref"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.root-ref" combine="interleave">
    <empty/>
  </define>
  <define name="logger-ref">
    <element name="logger-ref">
      <ref name="attlist.logger-ref"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.logger-ref" combine="interleave">
    <attribute name="ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="param">
    <element name="param">
      <ref name="attlist.param"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.param" combine="interleave">
    <attribute name="name"/>
    <attribute name="value"/>
  </define>
  <!-- The priority class is org.apache.log4j.Level by default -->
  <define name="priority">
    <element name="priority">
      <ref name="attlist.priority"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.priority" combine="interleave">
    <optional>
      <attribute name="class"/>
    </optional>
    <attribute name="value"/>
  </define>
  <!-- The level class is org.apache.log4j.Level by default -->
  <define name="level">
    <element name="level">
      <ref name="attlist.level"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.level" combine="interleave">
    <optional>
      <attribute name="class"/>
    </optional>
    <attribute name="value"/>
  </define>
  <!-- If no level element is specified, then the configurator MUST not -->
  <!-- touch the level of the named category. -->
  <define name="category">
    <element name="category">
      <ref name="attlist.category"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
      <optional>
        <choice>
          <ref name="priority"/>
          <ref name="level"/>
        </choice>
      </optional>
      <zeroOrMore>
        <ref name="appender-ref"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.category" combine="interleave">
    <optional>
      <attribute name="class"/>
    </optional>
    <attribute name="name"/>
    <optional>
      <attribute name="additivity" a:defaultValue="true">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- If no level element is specified, then the configurator MUST not -->
  <!-- touch the level of the named logger. -->
  <define name="logger">
    <element name="logger">
      <ref name="attlist.logger"/>
      <optional>
        <ref name="level"/>
      </optional>
      <zeroOrMore>
        <ref name="appender-ref"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.logger" combine="interleave">
    <attribute name="name">
      <data type="ID"/>
    </attribute>
    <optional>
      <attribute name="additivity" a:defaultValue="true">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="categoryFactory">
    <element name="categoryFactory">
      <ref name="attlist.categoryFactory"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.categoryFactory" combine="interleave">
    <attribute name="class"/>
  </define>
  <define name="appender-ref">
    <element name="appender-ref">
      <ref name="attlist.appender-ref"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.appender-ref" combine="interleave">
    <attribute name="ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <!-- If no priority element is specified, then the configurator MUST not -->
  <!-- touch the priority of root. -->
  <!-- The root category always exists and cannot be subclassed. -->
  <define name="root">
    <element name="root">
      <ref name="attlist.root"/>
      <zeroOrMore>
        <ref name="param"/>
      </zeroOrMore>
      <optional>
        <choice>
          <ref name="priority"/>
          <ref name="level"/>
        </choice>
      </optional>
      <zeroOrMore>
        <ref name="appender-ref"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.root" combine="interleave">
    <empty/>
  </define>
  <!-- ==================================================================== -->
  <!-- A logging event -->
  <!-- ==================================================================== -->
  <define name="eventSet">
    <element name="log4j:eventSet">
      <ref name="attlist.eventSet"/>
      <zeroOrMore>
        <ref name="event"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.eventSet" combine="interleave">
    <optional>
      <attribute name="version" a:defaultValue="1.2">
        <choice>
          <value>1.1</value>
          <value>1.2</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="includesLocationInfo" a:defaultValue="true">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="event">
    <element name="log4j:event">
      <ref name="attlist.event"/>
      <ref name="message"/>
      <optional>
        <ref name="NDC"/>
      </optional>
      <optional>
        <ref name="throwable"/>
      </optional>
      <optional>
        <ref name="locationInfo"/>
      </optional>
    </element>
  </define>
  <!-- The timestamp format is application dependent. -->
  <define name="attlist.event" combine="interleave">
    <attribute name="logger"/>
    <attribute name="level"/>
    <attribute name="thread"/>
    <attribute name="timestamp"/>
  </define>
  <define name="message">
    <element name="log4j:message">
      <ref name="attlist.message"/>
      <text/>
    </element>
  </define>
  <define name="attlist.message" combine="interleave">
    <empty/>
  </define>
  <define name="NDC">
    <element name="log4j:NDC">
      <ref name="attlist.NDC"/>
      <text/>
    </element>
  </define>
  <define name="attlist.NDC" combine="interleave">
    <empty/>
  </define>
  <define name="throwable">
    <element name="log4j:throwable">
      <ref name="attlist.throwable"/>
      <text/>
    </element>
  </define>
  <define name="attlist.throwable" combine="interleave">
    <empty/>
  </define>
  <define name="locationInfo">
    <element name="log4j:locationInfo">
      <ref name="attlist.locationInfo"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.locationInfo" combine="interleave">
    <attribute name="class"/>
    <attribute name="method"/>
    <attribute name="file"/>
    <attribute name="line"/>
  </define>
  <start>
    <choice>
      <ref name="eventSet"/>
      <ref name="configuration"/>
    </choice>
  </start>
</grammar>
