ledge-forms/src/main/java/pl/caltha/forms/internal/formtool-ui.xsd

<?xml version="1.0"?>
<!--
  Schema for form's user interface definition.

  @author <a href="mailto:zwierzem@ngo.pl">Damian Gajda</a>
  @version $Id: formtool-ui.xsd,v 1.2 2003/10/29 13:30:47 zwierzem Exp $
-->
<xsd:schema
  targetNamespace="http://www.cyklotron.net/2001/11/formtool-ui"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:formtool="http://www.cyklotron.net/2001/11/formtool-ui"
  elementFormDefault="qualified">
  <!--
structural elements
-->
  <xsd:element name="form">
    <xsd:annotation>
      <xsd:documentation>Definition of the form container element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:page" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="default" type="xsd:IDREF" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:attributeGroup name="linkingAttributes">
    <xsd:attribute name="href" type="xsd:anyURI"/>
  </xsd:attributeGroup>

  <!--
User Interface form controls
-->

<!-- Controls common markup definitions -->

  <xsd:group name="formControls">
    <xsd:choice>
      <xsd:element ref="formtool:input"/>
      <xsd:element ref="formtool:textarea"/>
      <!-- htmlarea is a extension for formatted HTML input -->
      <xsd:element ref="formtool:htmlarea"/>
      <!-- date is a extension for date input -->
      <xsd:element ref="formtool:date"/>
      <xsd:element ref="formtool:secret"/>
      <xsd:element ref="formtool:output"/>
      <xsd:element ref="formtool:upload"/>
      <xsd:element ref="formtool:selectOne"/>
      <xsd:element ref="formtool:selectMany"/>
      <xsd:element ref="formtool:range"/>
      <xsd:element ref="formtool:submit"/>
      <xsd:element ref="formtool:button"/>
    </xsd:choice>
  </xsd:group>

  <xsd:attributeGroup name="bindFirstAttributes">
    <xsd:attribute name="ref" type="xsd:string" use="optional"/>
    <xsd:attribute name="bind" type="xsd:string" use="optional"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="bindAllAttributes">
    <xsd:attribute name="nodeset" type="xsd:string" use="optional"/>
    <xsd:attribute name="bind" type="xsd:string" use="optional"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="commonUIAttributes">
    <!-- <xsd:attribute ref="xml:lang" type="xsd:language" use="optional"/> -->
    <xsd:attribute name="class" type="xsd:string" use="optional"/>
    <xsd:attribute name="style" type="xsd:string" use="optional"/>
    <xsd:attribute name="accessKey" type="xsd:string" use="optional"/>
    <xsd:attribute name="navIndex" type="xsd:nonNegativeInteger" use="optional"/>
  </xsd:attributeGroup>

  <xsd:element name="caption">
    <xsd:complexType mixed="true">
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attributeGroup ref="formtool:linkingAttributes"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="hint">
    <xsd:complexType mixed="true">
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attributeGroup ref="formtool:linkingAttributes"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="help">
    <xsd:complexType mixed="true">
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attributeGroup ref="formtool:linkingAttributes"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="alert">
    <xsd:complexType mixed="true">
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attributeGroup ref="formtool:linkingAttributes"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="extension">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:any namespace="##other"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:group name="optionalUIChildren">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element ref="formtool:help"/>
        <xsd:element ref="formtool:hint"/>
        <xsd:element ref="formtool:alert"/>
        <xsd:group ref="formtool:actionGroup"/>
        <xsd:element ref="formtool:extension"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>

<!-- Controls itself -->

  <xsd:element name="input">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="textarea">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attributeGroup ref="formtool:linkingAttributes"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="htmlarea">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attributeGroup ref="formtool:linkingAttributes"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="date">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attributeGroup ref="formtool:linkingAttributes"/>
      <xsd:attribute name="optionalSelection" type="xsd:boolean" use="optional" default="false"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="secret">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="upload">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attribute name="mediaType" type="formtool:tokenList" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="range">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attribute name="start" type="xsd:string" use="required"/>
      <xsd:attribute name="end" type="xsd:string" use="required"/>
      <xsd:attribute name="stepSize" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="button">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="output">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attribute name="format" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="submit">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
    </xsd:complexType>
  </xsd:element>

  <!--
  Select controls
-->
  <xsd:group name="choiceItemGroup">
    <xsd:choice>
      <xsd:element ref="formtool:choices"/>
      <xsd:element ref="formtool:item"/>
      <xsd:element ref="formtool:itemref"/>
    </xsd:choice>
  </xsd:group>

  <xsd:element name="choices">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption" minOccurs="0"/>
        <xsd:choice maxOccurs="unbounded">
          <xsd:group ref="formtool:choiceItemGroup"/>
        </xsd:choice>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="item">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID"/>
      <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="itemref">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID"/>
      <xsd:attribute name="ref" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="selectOne">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="formtool:choices"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attribute name="selectUI" type="formtool:selectUIType" use="required"/>
      <xsd:attribute name="size" type="xsd:nonNegativeInteger" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="selectMany">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="formtool:choices"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attribute name="selectUI" type="formtool:selectUIType" use="required"/>
      <xsd:attribute name="size" type="xsd:nonNegativeInteger" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <!--
XForms Actions
-->
  <xsd:attributeGroup name="XMLEvents">
    <xsd:attribute name="event" type="xsd:NMTOKEN"/> <!-- xsd:attribute ref="ev:event"/ -->
    <!-- xsd:attribute ref="ev:observer"/ -->
    <!-- xsd:attribute ref="ev:target"/ -->
    <!-- xsd:attribute ref="ev:handler"/ -->
    <!-- xsd:attribute ref="ev:phase"/ -->
    <!-- xsd:attribute ref="ev:propagate"/ -->
    <!-- xsd:attribute ref="ev:defaultAction"/ -->
  </xsd:attributeGroup>

  <xsd:group name="actionGroup">
    <xsd:choice>
      <!-- xsd:element ref="formtool:action"/ -->
      <xsd:group ref="formtool:actions"/>
    </xsd:choice>
  </xsd:group>

  <!-- ACTION CONTAINER ELEMENT -->
<!--  <xsd:element name="action">
    <xsd:complexType>
      <xsd:sequence maxOccurs="unbounded">
        <xsd:group ref="formtool:actions"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:XMLEvents"/>
    </xsd:complexType>
  </xsd:element>
-->

  <xsd:group name="actions">
    <xsd:choice>
      <xsd:element ref="formtool:noop"/>
      <xsd:element ref="formtool:dispatch"/>
      <xsd:element ref="formtool:revalidate"/>
      <xsd:element ref="formtool:recalculate"/>
      <xsd:element ref="formtool:setValue"/>
      <xsd:element ref="formtool:submitInstance"/>
      <xsd:element ref="formtool:resetInstance"/>
      <xsd:element ref="formtool:insert"/>
      <xsd:element ref="formtool:delete"/>
      <xsd:element ref="formtool:setRepeatCursor"/>
      <xsd:element ref="formtool:toggle"/>
      <xsd:element ref="formtool:script"/>
    </xsd:choice>
  </xsd:group>

  <xsd:element name="noop">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:XMLEvents"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="dispatch">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attribute name="name" type="xsd:NMTOKEN" use="required"/>
      <xsd:attribute name="target" type="xsd:IDREF" use="required"/>
      <xsd:attribute name="bubbles" type="xsd:boolean" use="optional" default="true"/>
      <xsd:attribute name="cancelable" type="xsd:boolean" use="optional" default="true"/>
      <xsd:attributeGroup ref="formtool:XMLEvents"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="revalidate">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:XMLEvents"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="recalculate">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:XMLEvents"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="setValue">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="id" type="xsd:ID" use="optional"/>
          <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
          <xsd:attribute name="value" type="xsd:string"/>
          <xsd:attributeGroup ref="formtool:XMLEvents"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="submitInstance">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <!-- xsd:attribute name="submitInfo" type="xsd:IDREF" use="optional"/ -->
      <xsd:attributeGroup ref="formtool:XMLEvents"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="resetInstance">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:XMLEvents"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="insert">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attribute name="repeat" type="xsd:IDREF" use="required"/>
      <xsd:attribute name="at" type="xsd:string" use="required"/>
      <xsd:attribute name="position" use="required">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="before"/>
            <xsd:enumeration value="after"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:attribute>
      <xsd:attributeGroup ref="formtool:XMLEvents"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="delete">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attribute name="repeat" type="xsd:IDREF" use="required"/>
      <xsd:attribute name="at" type="xsd:string" use="required"/>
      <xsd:attributeGroup ref="formtool:XMLEvents"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="setRepeatCursor">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attribute name="repeat" type="xsd:IDREF" use="required"/>
      <xsd:attribute name="cursor" type="xsd:string" use="required"/>
      <xsd:attributeGroup ref="formtool:XMLEvents"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="toggle">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attribute name="case" type="xsd:IDREF" use="required"/>
      <xsd:attributeGroup ref="formtool:XMLEvents"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="script">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="id" type="xsd:ID" use="optional"/>
          <xsd:attribute name="type" type="xsd:string" use="required"/>
          <xsd:attributeGroup ref="formtool:XMLEvents"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

<!--
  <xsd:element name="scroll">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attribute name="repeat" type="xsd:IDREF" use="required"/>
      <xsd:attribute name="step" type="xsd:integer" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  -->
  <!--
Advanced User Interface
-->
  <xsd:element name="page">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption" minOccurs="0"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:choice maxOccurs="unbounded">
          <xsd:group ref="formtool:formControls"/>
          <xsd:element ref="formtool:group"/>
          <xsd:element ref="formtool:repeat"/>
          <xsd:element ref="formtool:component"/>
          <xsd:element ref="formtool:switch"/>
        </xsd:choice>
      </xsd:sequence>
      <!-- Id is required because it is being used to change actual page. -->
      <xsd:attribute name="id" type="xsd:ID" use="required"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attribute name="selected" type="xsd:boolean" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="group">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:caption" minOccurs="0"/>
        <xsd:group ref="formtool:optionalUIChildren" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:choice maxOccurs="unbounded">
          <xsd:group ref="formtool:formControls"/>
          <xsd:element ref="formtool:group"/>
          <xsd:element ref="formtool:repeat"/>
          <xsd:element ref="formtool:component"/>
          <xsd:element ref="formtool:switch"/>
          <xsd:any namespace="##other"/>
        </xsd:choice>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="switch">
    <xsd:complexType>
      <xsd:sequence maxOccurs="unbounded">
        <xsd:element ref="formtool:case"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attribute name="default" type="xsd:IDREF" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="case">
    <xsd:complexType>
      <xsd:choice maxOccurs="unbounded">
        <xsd:group ref="formtool:formControls"/>
        <xsd:element ref="formtool:group"/>
        <xsd:element ref="formtool:repeat"/>
        <xsd:element ref="formtool:component"/>
        <xsd:element ref="formtool:switch"/>
      </xsd:choice>
      <!-- Id is required because it is being used to change actual case. -->
      <xsd:attribute name="id" type="xsd:ID" use="required"/>
      <xsd:attribute name="selected" type="xsd:boolean" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="repeat">
    <xsd:complexType>
      <xsd:choice maxOccurs="unbounded">
        <xsd:group ref="formtool:formControls"/>
        <xsd:element ref="formtool:group"/>
        <xsd:element ref="formtool:repeat"/>
        <xsd:element ref="formtool:component"/>
        <xsd:element ref="formtool:switch"/>
      </xsd:choice>
      <!-- ID is used to select a repeat element when performing actions -->
      <xsd:attribute name="id" type="xsd:ID" use="required"/>
      <xsd:attributeGroup ref="formtool:bindAllAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attribute name="startIndex" type="xsd:positiveInteger" use="optional"/>
      <xsd:attribute name="number" type="xsd:nonNegativeInteger" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="defComponent">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:param" maxOccurs="unbounded"/>
        <xsd:choice maxOccurs="unbounded">
          <xsd:group ref="formtool:formControls"/>
          <xsd:element ref="formtool:group"/>
          <xsd:element ref="formtool:repeat"/>
          <xsd:element ref="formtool:component"/>
          <xsd:element ref="formtool:switch"/>
        </xsd:choice>
      </xsd:sequence>
      <!-- ID is used to refere to component definitions -->
      <xsd:attribute name="id" type="xsd:ID" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="param">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attribute name="name" type="xsd:NMTOKEN" use="required"/>
      <xsd:attribute name="value" type="xsd:string" use="optional"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="valueOf">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attribute name="select" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="component">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="formtool:param" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:ID" use="optional"/>
      <xsd:attributeGroup ref="formtool:bindFirstAttributes"/>
      <xsd:attributeGroup ref="formtool:commonUIAttributes"/>
      <xsd:attribute name="component" type="xsd:IDREF" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <!--
New simpleTypes
-->
  <xsd:simpleType name="tokenList">
    <xsd:list itemType="xsd:token"/>
  </xsd:simpleType>

  <xsd:simpleType name="selectUIType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="radioGroup"/>
      <xsd:enumeration value="checkboxGroup"/>
      <xsd:enumeration value="pulldown"/>
      <xsd:enumeration value="listbox"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>


