ledge-web/src/main/java/org/objectledge/web/captcha/ReCaptchaCaptchaServiceImpl.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="config">
      <element name="publicKey">
        <text/>
      </element>
      <element name="privateKey">
        <text/>
      </element>
      <optional>
        <element name="recaptchaServer">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="includeNoscript">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="defaultTheme">
          <text/>
        </element>
      </optional>    
      <optional>
        <element name="errorMessage">
          <text/>
        </element>
      </optional>    
    </element>
  </start>
</grammar>